<table>
    <tr>
        <th>
            TargetUrl
        </th>
        <th>
            uniqueID
        </th>
    </tr>
    <% for(i=0;i<data.length;i++){ %>
        <tr>

            <td>
                
                    <%= data[i].targetUrl %>
                
            </td>
            <td>
                
                    <%= data[i].uniqueID %>
                

            </td>


        </tr> 
        <% } %>
</table>